html, body {
  margin: 0;
}

body {
  font: 17px/22px "courier-prime", courier, monospace;
  color: #505050;
}

body.desktop {
  background: #794c35;
  //background-image: url('./static/bluesky.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
}

body.mobile {
  background: #fff;
}

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  -webkit-tap-highlight-color: rgba(109, 169, 182, 0.2);
  pointer-events: auto;
}

hr {
  border: none;
  border-top: solid 1px #505050;
  margin: 0.5em 0;
}

.desktop .content {
  overflow: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
