* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  margin: 0;
}

body {
  font: 17px/22px "courier-prime", courier, monospace;
  color: #505050;
}

body.desktop {
  background: #f4f4f4;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

body.mobile {
  background: #fff;
}

.desktop .content {
  overflow: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Large desktop */
@media (min-width: 1200px) {
  div.equal-height-lg {
      display: table;
      width: 100%;
  }

  div.equal-height-lg > div[class^='col-'] {
      display: table-cell;
      float: none;
      vertical-align: top;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  div.equal-height {
      display: table;
      width: 100%;
  }

  div.equal-height > div[class^='col-'] {
      display: table-cell;
      float: none;
      vertical-align: top;
  }
}

@media (min-width: 767px) {
    div.equal-height-sm {
        display: table;
        width: 100%;
    }

    div.equal-height-sm > div[class^='col-'] {
        display: table-cell;
        float: none;
        vertical-align: top;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  div.equal-height-xs {
      display: table;
      width: 100%;
  }

  div.equal-height-xs > div[class^='col-'] {
      display: table-cell;
      float: none;
      vertical-align: top;
  }
}

.container-list-ball {
  overflow: scroll;
  height: 600px;
}

#canvas {

}
#background {
    display: none;
}
