/* Comm */
@import './static/scss/mixins';
@import './static/scss/utils';

* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 17px/22px "courier-prime", courier, monospace;
  color: #505050;
}

body.desktop {
  background: #f7f7f7;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

body.mobile {
  background: #fff;
}

.desktop .content {
  width: 90%;
  position: relative;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-list-ball {
  overflow: scroll;
  height: 550px;
}

.select-dropdown {
  margin-bottom: 20px;
}

.empty-ball-list {

}

.pre-footer {
  padding: 1rem;
  margin-top: 30px;
  padding: 40px;
  background-color: #cecece;
  text-align: center;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #ececec;
  text-align: center;
}

#heart {
  margin: 3px;
}
